.hero-blob-container {
  position: relative;
  z-index: 0;
}

.hero-blob-container::after {
  content: "";
  position: absolute;
  left: -50%;
  top: -140%;
  height: 200%;
  transform: translate(50%, 50%);
  z-index: -1;
  width: 100%;
  background-image: url("/purple-blob.svg"), url("/burned-orange-blob.svg"),
    url("/tea-blob.svg");
  background-position: 75% 12%, 23% 73%, 77% 74%;
  background-size: 14%, 10%, 16%;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .hero-blob-container::after {
    background-position: 70% 12%, 14% 73%, 86% 74%;
    background-size: 17%, 14%, 19%;
    left: -130%;
    top: -130%;
    height: 180%;
    width: 180%;
  }
}

.hero-drop-shadow {
  filter: drop-shadow(rgba(60, 100, 177, 0.03) 0px 4px 34px);
}
