@tailwind base;
@tailwind components;
@tailwind utilities;

.story-waves {
    background-image: url("/ghost-wave.svg"), url("/ghost-wave-under.svg");
    background-position: bottom center, top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

body {
    @apply font-sans;
}

text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.css-1b2i1yf {
    background-repeat: no-repeat;
    -webkit-background-position: right center;
    background-position: right center;
    background-image: url(/pattern-three-sm.png);
    -webkit-background-size: 10%;
    background-size: 10%;
}
/* 25 */

.css-xp1dmv {
    background-repeat: no-repeat;
    -webkit-background-position: right 80%;
    background-position: right 80%;
    background-image: url(/pattern-one.png);
    -webkit-background-size: 17%;
    background-size: 17%;
}

/* 45 */
